APP_ENV=local
APP_HOST=0.0.0.0
APP_PORT=8000
EMBEDDING_PROVIDER=hash
EMBEDDING_DIM=256
MILVUS_ENABLED=false
MILVUS_URI=tcp://121.41.85.215:19530
MILVUS_USER=root
MILVUS_PASSWORD=Milvus
MILVUS_TOKEN=
MILVUS_DB_NAME=default
